<a href="https://colab.research.google.com/github/mikeytw11/Hockey/blob/main/Descriptive_vs_Predictive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


The goal of this script is to compare the GF%, CF% and xGF% from the first 41 games of the season to the last 41 games of the season. This data views only full seasonsa and so the 12/13, 19/20 and 20/21 seasons are excluded. Other than that we are looking at full seasons from 07/08 to 21/22.

In [2]:
#Import dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Gather data for GF%, CF% and xGF%
Canucks_2122 = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey/main/Team%20Stats/Canucks%202021-2022.csv")
Canucks_2122

,Team,Date,Game_ID,Season,Opponent,Is_Home,TOI,GF%,SF%,FF%,...,FA,CF,CA,xGF,xGA,G±,S±,F±,C±,xG±
0,VAN,2021-10-13,2021020006,20212022,EDM,0,47.60,51.71,46.39,45.33,...,34.37,38.09,51.18,1.59,2.34,0.07,-3.82,-5.88,-13.08,-0.75
1,VAN,2021-10-15,2021020018,20212022,PHI,0,47.18,52.52,59.21,51.56,...,31.54,49.13,42.87,1.76,1.49,0.20,9.07,2.04,6.26,0.26
2,VAN,2021-10-16,2021020024,20212022,DET,0,43.33,51.71,63.13,67.73,...,16.39,46.62,25.91,1.60,1.19,0.07,10.20,18.00,20.71,0.41
3,VAN,2021-10-19,2021020039,20212022,BUF,0,47.27,35.78,47.64,44.47,...,35.18,33.17,42.47,1.60,2.04,-1.69,-2.69,-7.01,-9.30,-0.44
4,VAN,2021-10-21,2021020058,20212022,CHI,0,45.93,100.00,46.44,51.97,...,24.89,38.94,36.38,1.20,1.74,2.12,-2.47,2.04,2.56,-0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,VAN,2022-04-23,2021021256,20212022,CGY,0,50.07,34.11,42.87,39.33,...,44.84,31.57,58.77,1.59,2.39,-1.88,-7.43,-15.77,-27.20,-0.80
79,VAN,2022-04-26,2021021284,20212022,SEA,1,43.68,79.44,51.41,50.12,...,28.27,38.61,36.88,1.56,1.64,2.90,1.15,0.14,1.74,-0.08
80,VAN,2022-04-28,2021021310,20212022,L.A,1,47.50,30.55,45.76,48.98,...,32.64,48.82,38.21,1.99,2.59,-1.19,-3.90,-1.31,10.61,-0.60
81,VAN,2022-04-29,2021021207,20212022,EDM,0,53.78,53.08,54.38,56.66,...,35.43,60.74,52.88,3.30,2.46,0.25,5.01,10.88,7.86,0.85
82,VAN,Total,-,21-22,-,-,48.86,52.37,49.71,49.83,...,2804.63,3737.52,3789.69,159.63,165.56,14.14,-23.56,-18.54,-52.17,-5.93

In [4]:
Canucks_2122 = Canucks_2122.loc[:,['Team','GF%','CF%','xGF%']]
Canucks_2122

   Team     GF%    CF%   xGF%
0   VAN   51.71  42.67  40.43
1   VAN   52.52  53.40  54.05
2   VAN   51.71  64.28  57.35
3   VAN   35.78  43.85  43.96
4   VAN  100.00  51.70  40.94
..  ...     ...    ...    ...
78  VAN   34.11  34.94  39.94
79  VAN   79.44  51.15  48.69
80  VAN   30.55  56.10  43.50
81  VAN   53.08  53.46  57.36
82  VAN   52.37  49.65  49.09

[83 rows x 4 columns]

In [6]:
Canucks_2122['Game No.'] = Canucks_2122.index + 1
Canucks_2122

   Team     GF%    CF%   xGF%  Game No.
0   VAN   51.71  42.67  40.43         1
1   VAN   52.52  53.40  54.05         2
2   VAN   51.71  64.28  57.35         3
3   VAN   35.78  43.85  43.96         4
4   VAN  100.00  51.70  40.94         5
..  ...     ...    ...    ...       ...
78  VAN   34.11  34.94  39.94        79
79  VAN   79.44  51.15  48.69        80
80  VAN   30.55  56.10  43.50        81
81  VAN   53.08  53.46  57.36        82
82  VAN   52.37  49.65  49.09        83

[83 rows x 5 columns]

In [7]:
Canucks_2122 = Canucks_2122[['Game No.','Team','GF%','CF%','xGF%']]
Canucks_2122

    Game No. Team     GF%    CF%   xGF%
0          1  VAN   51.71  42.67  40.43
1          2  VAN   52.52  53.40  54.05
2          3  VAN   51.71  64.28  57.35
3          4  VAN   35.78  43.85  43.96
4          5  VAN  100.00  51.70  40.94
..       ...  ...     ...    ...    ...
78        79  VAN   34.11  34.94  39.94
79        80  VAN   79.44  51.15  48.69
80        81  VAN   30.55  56.10  43.50
81        82  VAN   53.08  53.46  57.36
82        83  VAN   52.37  49.65  49.09

[83 rows x 5 columns]